/* custom elemets bootstrap */

.bg-violet {
    background-color: #5c4ac7 !important;
}

.bg-primary2 {
    background-color: #29b6f6 !important;
}

.bg-success2 {
    background-color: #26dad2 !important;
}

.bg-pink {
    background-color: #fd9fa7 ! important;
}

.bg-red {
    background-color: #ff0b09! important;
}

.bg-gray1 {
    background-color: #2a3f54 ! important;
}

.bg-gray2 {
    background-color: #A9A9A9 ! important;
}
