<div class="container">
	<h4 class="text-center">{{mambra.nom}}
	</h4>
</div>

<div class="mb-5">
	{{form_start(form, {'action': path('modifier_mambra', {'id' : id})})}}
	{{form_widget(form)}}
	<button class="btn btn-success" type="submit">Enregistrer</button>
	{{form_end(form)}}
</div>
