<li class="nav-header">Choral</li>


<li class="nav-item">
	<a href="{{path('hira_choral_dashboard')}}" class="nav-link">
		<i class="nav-icon fas fa-chart-pie"></i>
		<p>
			Tableau de bord
		</p>
	</a>
</li>
<li class="nav-item">
	<a href="{{path('hira_choral_index')}}" class="nav-link">
		<i class="nav-icon fas fa-chart-pie"></i>
		<p>
			Liste hira
		</p>
	</a>
</li>
<li class="nav-item">
	<a href="{{path('theme_hira_index')}}" class="nav-link">
		<i class="nav-icon fas fa-chart-pie"></i>
		<p>
			Thème
		</p>
	</a>
</li>
<li class="nav-item">
	<a href="{{path('hira_choral_historique')}}" class="nav-link">
		<i class="nav-icon fas fa-chart-pie"></i>
		<p>
			Historique
		</p>
	</a>
</li>
