<li class="nav-header">FAMILLE</li>
<li class="nav-item">
	<a href="{{path('famille_mambra_accueil')}}" class="nav-link">
		<i class="nav-icon far fa-calendar-alt"></i>
		<p>
			famille-mambra
			<span class="badge badge-info right">2</span>
		</p>
	</a>
</li>
<li class="nav-item">
	<a href="pages/gallery.html" class="nav-link">
		<i class="nav-icon far fa-image"></i>
		<p>
			Gallery
		</p>
	</a>
</li>
<li class="nav-item">
	<a href="pages/kanban.html" class="nav-link">
		<i class="nav-icon fas fa-columns"></i>
		<p>
			Kanban Board
		</p>
	</a>
</li>
