{% extends "baseAdminLTE.html.twig" %}

{% block title %}Filadelfia
{% endblock %}
{% block stylesheets %}
	<!-- Daterange picker -->
	<script src="{{asset('css/sekolySabata/stat/flatpickr.min.css')}}"></script>

{% endblock %}
{% block title_page %}Statistique
{% endblock %}
{% block current_page %}Statistique composé
{% endblock %}

{% block content %}

	<h1>test</h1>
	<input type="text" id="datepicker" class="form-control" placeholder="Select a date">
{% endblock %}
{% block javascripts %}

	<script type="text/javascript">
		document.addEventListener('DOMContentLoaded', function () {
flatpickr('#datepickerSabata', {
enableTime: false, // Set to true if you want to include time selection
dateFormat: 'd-m-Y',
// Date format
// Additional configuration options...
locale: {
weekdays: {
shorthand: [
'Dim',
'Lun',
'Mar',
'Mer',
'Jeu',
'Ven',
'Sam'
],
longhand: [
'Dimanche',
'Lundi',
'Mardi',
'Mercredi',
'Jeudi',
'Vendredi',
'Samedi'
]
},
months: {
shorthand: [
'Jan',
'Fév',
'Mar',
'Avr',
'Mai',
'Juin',
'Juil',
'Août',
'Sept',
'Oct',
'Nov',
'Déc'
],
longhand: [
'Janvier',
'Février',
'Mars',
'Avril',
'Mai',
'Juin',
'Juillet',
'Août',
'Septembre',
'Octobre',
'Novembre',
'Décembre'
]
}
},
disable: [function (date) { // Désactiver toutes les dates sauf les samedis
return date.getDay() !== 6; // 6 représente le samedi (0 = dimanche, 1 = lundi, ..., 6 = samedi)
}
],
onChange: function (selectedDates, dateStr, instance) {
alert('Date sélectionnée : ' + dateStr);
instance.close();
}
});
});
	</script>
{% endblock %}
