<!DOCTYPE html>

<title>Hello ProduitsController!</title>
{% block body %}
	<h3>
		Ajouter un nouveau produit
	</h3>
	<div class="">
		{{form_start(form)}}
		{{form_widget(form)}}
		<button type="submit">valider</button>
		{{form_end(form)}}

	</div>

{% endblock %}
