<!DOCTYPE html>

<title>Liste des produits</title>


{% block body %}
	<ul class="">
		{% for produit in produits %}

			<li>{{produit.nom}}
				:
				{{produit.description}}</li>
		{% endfor %}
	</ul>

{% endblock %}
