{% extends 'baseClient.html.twig' %}
{% block title %}DGSR
{% endblock %}
{% block stylesheets %}{% endblock %}
{% block current_page %}{% endblock %}
{% block body %}
	<div class="text-center">
		<h1>
			Modifier personnel</h1>
		<a href="{{path('dgsr_accueil')}}" class="btn btn-dark">Retour DGSR</a>

	</div>

	{{form_start(form)}}
	{{form_widget(form)}}
	<button type="submit" class="btn btn-primary">Enregistrer</button>
	{{form_end(form)}}

{% endblock %}
{% block javascripts %}

	<script>
		var $direction = $('#personnel_direction');
// When sport gets selected ...
$direction.change(function () { // ... retrieve the corresponding form.
var $form = $(this).closest('form');
// Simulate form data, but only include the selected sport value.
var data = {};
data[$direction.attr('name')] = $direction.val();
// Submit data via AJAX to the form's action path.
console.log(data);
$.ajax({
url: $form.attr('action'),
type: $form.attr('method'),
data: data,
complete: function (html) {
console.log(html.responseText);
// Replace current position field ...
$('#personnel_service').replaceWith(
// ... with the returned one from the AJAX response.
$(html.responseText).find('#personnel_service')
);
// Position field now displays the appropriate positions.
}
});
});
	</script>

{% endblock %}
