<form method="post" action="{{ path('registre_delete', {'id': registre.id}) }}" onsubmit="return confirm('Etes-vous sûre de supprimer ce registre?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ registre.id) }}">
	<button class="btn btn-default btn-sm" title="supprimer">
		<i class="far fa-trash-alt"></i>
	</button>
</form>
