{% extends 'baseClient.html.twig' %}
{% block title %}Escape client
{% endblock %}
{% block stylesheets %}{% endblock %}
{% block current_page %}{% endblock %}
{% block body %}
	<div class="row">
		<div class="col-auto">
			<h1>
				Vous etes connecté</h1>
		</div>
		<div class=" ml-auto col-auto">
			<a class="btn btn-danger" href="{{path('app_logout')}}">
				Se deconnecter</a>
		</div>
	</div>

	<div class="row mt-5">
		<div class="col-md-4">
			<a class="btn btn-danger" href="{{path('dgsr_accueil')}}">
				Gestion DGSR
			</a>
		</div>
		<div class="col-md-4">
			<a class="btn btn-success" href="{{path('filadelfia_accueil')}}">
				Gestion FILADELFIA
			</a>
		</div>
	</div>


{% endblock %}

{% block javascripts %}{% endblock %}
