{% extends 'baseAdminLTE.html.twig' %}
{% block title %}Filadelfia
{% endblock %}
{% block stylesheets %}{% endblock %}
{% block title_page %}{% endblock %}
{% block current_page %}{% endblock %}

{% block content %}
	<div class="card">
		<div class="card-header">
			<div class="d-flex">
				<div class="mr-auto p-2 bd-highlight">
					<h5 class="title">Nouvelle kilasy
					</h5>
				</div>
				<div class="row">
					<div class="mr-2">
						<a class="btn btn-outline-info" href="{{ path('kilasy_index') }}" title="Liste kilasy">
							<i class="fa fa-list"></i>
						</a>
					</div>
					<div class="mr-2"></div>
					<div>
						{{ include('sekolySabata/kilasy/_delete_form.html.twig') }}
					</div>

				</div>
			</div>
		</div>
		<!-- /.card-header -->
		<div class="card-body">
			{{ include('sekolySabata/kilasy/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
		</div>
		<!-- /.card-body -->
	</div>
{% endblock %}

{% block javascripts %}

	<script src="{{asset('js/sekolySabata/kilasy/edit.js')}}"></script>
{% endblock %}
