<h3 class="text-center">
	Details de
	{{mambra.nom}}

</h3>

<strong>
	Nom :
</strong>
{{mambra.nom}}
<br>
<strong>
	Sexe :
</strong>
{{mambra.sexe}}
<br>
<strong>
	Famille :
</strong>
{{mambra.famille.nom}}
