<form method="post" action="{{ path('raharaha_delete', {'id': raharaha.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ raharaha.id) }}">
    <button class="btn">Delete</button>
</form>
